apiVersion: v1
kind: ConfigMap
metadata:
  name: game-demo
data:
  player_initial_lives: "3"
  ui_properties_file_name: "user-interface.properties"


---
apiVersion: v1
kind: Pod
metadata:
  name: envar-demo
  labels:
    purpose: demonstrate-envars
spec:
  containers:
    - name: demo
      image: docker.io/rkalluru/learnk8s:rhel9-bare
      env:
        - name: DEMO_GREETING
          valueFrom:
            configMapKeyRef:
              name: game-demo
              key: player_initial_lives
        - name: DEMO_GREETING
          valueFrom:
            configMapKeyRef:
              name: game-demo
              key: ui_properties_file_name
